.game-finish-overlay-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.game-finish-text {
    color: white;
    font-size: min(56px, 8vw);
}


.new-game-button {
    width: min(180px, 27vw);
    height: min(60px, 9vw);
    margin-top: min(20px, 3vw);
    outline: none;
    background-color: transparent;
    border-radius: min(30px, 3.5vw);
    border-style: dashed;
    border-width: min(3px, 0.5vw);
    border-color: #ffb900;
    font-weight: bold;
    font-size: min(18px, 3vw);
    color: #ffb900;
}


.new-game-button:active {
    background-color: rgba(255, 185, 0, 0.2);
}