<div class="game-finish-overlay-content">
    <div class="game-finish-text" *ngIf="gameState == gameStateType.Defeat">GAME OVER</div>
    <div class="game-finish-text" *ngIf="gameState == gameStateType.Victory">VICTORY</div>
    <button class="new-game-button" (click)="onNewGameButtonClick()">NEW WORD</button>
</div>