<div>
    <img class="gallow-bar-image" alt="Gallow bar" src="assets/gallow-bar.png" />
    <img class="gallow-man-image" alt="Gallow man"
        src="{{ 'assets/gallow-man-' + wrongInputCount + '.png' }}" />
</div>