// gallow-bar.png dimensions - 241x77
.gallow-bar-image {
    width: calc(100% / 1.42);
}


// gallow-man-x.png dimensions - 284x569
.gallow-man-image {
    width: calc(100% - calc(100% / 5.81));
    margin-top: max(-15px, -3vw);
    margin-left: calc(100% / 5.81);
}