.app-component {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #3b4263;
}


.app-content {
    position: relative;
    display: flex;
    max-width: calc(100% - 20px);
    max-height: 100%;
    width: min(1000px, calc(100% - 20px));
    margin: 10px;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}


.app-content-row {
    display: flex;
    width: 100%;
    margin-bottom: min(50px, 8vw);
    justify-content: space-between;
}




.gallow-component {
    width: min(200px, 30%);
    margin-top: min(50px, 6vw);
}


.wrong-input-information-component {
    width: min(500px, 70%);
    margin-top: min(50px, 6vw);
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}


.guessed-word-panel-component {
    width: 100%;
}


.game-finish-overlay-component {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3b4263;
    opacity: 0.73;
}