<div class="app-component">
    <div class="app-content">


        <div class="app-content-row">
            <app-gallow class="gallow-component" [wrongInputCount]="wrongInputCount"></app-gallow>
            <app-wrong-input-information class="wrong-input-information-component"
                [wrongInputText]="wrongInputText"></app-wrong-input-information>
        </div>


        <app-guessed-word-panel class="guessed-word-panel-component" [wordToGuess]="wordToGuess"
            [isLetterGuessed]="isLetterGuessed">
        </app-guessed-word-panel>


        <!-- Overlays the entire "app-content" div. -->
        <app-game-finish-overlay class="game-finish-overlay-component" [gameState]="gameState"
            (newGameEvent)="startNewGame()" *ngIf="gameState != gameStateType.InGame">
        </app-game-finish-overlay>


    </div>
</div>