.guessed-word-panel {
    display: flex;
    width: 100%;
    height: min(80px, 8vw);
    padding-bottom: min(50px, 3vw);
    justify-content: center;
    flex-direction: row;
}


.letter-container {
    display: flex;
    width: min(80px, 8vw);
    height: min(80px, 8vw);
    margin: min(5px, 0.5vw);
    justify-content: center;
    align-items: center;
    background-color: #50525a;
    border-radius: min(8px, 1vw);
    font-size: min(56px, 7vw);
    color: white;
}


.blank-letter {
    visibility: hidden;
}


.guessed-letter {
    visibility: visible;
}