<div class="guessed-word-panel">
    <div *ngFor="let is_letter_guessed of isLetterGuessed; index as i_letter"
        class="letter-container">
        <div
            [ngClass]="{'blank-letter': is_letter_guessed == false, 'guessed-letter': is_letter_guessed == true}">
            {{wordToGuess.charAt(i_letter)}}
        </div>
    </div>
</div>