.wrong-input-information-header {
    font-size: min(22px, 2.5vw);
    font-weight: bold;
    color: #53555d;
}


.wrong-inputs-text {
    font-size: min(50px, 6vw);
    font-weight: bold;
    color: #4d71fa;
}